/* BASIC */

body {
    background-color: rgb(223, 242, 253);
    margin: 0;
    font-family: 'Lato', sans-serif;
}


img {
    width: 100%;
}

.logo_huset {
    width: 25%;
    margin-left: 1em;
    margin-top: 1em;
}


footer {
    margin-bottom: 0;
    text-align: center;
    font-family: 'Lato' sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Lato' sans-serif;
    color: rgb(223, 242, 253);
}

.overskrift h1 {
    text-align: center;
    font-family: 'Lato' sans-serif;
    color: black;
    font-size: 4em;
    margin-top: .2em;
}

h2 {
    text-align: center;
    color: rgb(223, 242, 253);
    font-size: 2.5em;
    font-family: 'Lato' sans-serif;
}

h3 {
    margin-top: 2.5em;
    font-family: 'Lato' sans-serif;
}

p {
    line-height: 1.5em;
    font-family: 'Lato' sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Lato' sans-serif;
}

/* FORSIDE */

.events {
    background-color: black;
    padding: 1em;
    margin: 3.5em 2em 1em 2em;
    border-radius: 50%;
}

.kontakt {
    background-color: black;
    padding: 1em;
    margin: 3.5em 2em;
    border-radius: 50%;
}

/* EVENTS */

article {
    background-color: black;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
    margin-bottom: 3em;
    font-family: 'Lato', sans-serif;
}

article h2 {
    color: white;
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
}

.box {
    font-family: 'Lato', sans-serif;
    color: white;
    line-height: 1.5em;
}

article img {
    border-radius: 1em;
}

.filter {
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
    background-color: rgb(36, 25, 93);
}

.menu-item {
    color: rgb(223, 242, 253);
    font-size:80%;
    border: none;
    background-color: rgb(36, 25, 93);
    padding: 1em .6em;
    font-family: 'Lato', sans-serif;
}

.menu-item:focus {
    color: rgb(36, 25, 93);
    background-color: rgb(223, 242, 253);
    border: 2px solid rgb(36, 25, 93);
}

.container {
    font-family: 'Lato', sans-serif;
}


/* KONTAKT */

.kontaktside {
    margin: 1.5em;
}

.kontaktside a {
    color: black;
    text-decoration: underline;
}
