/* BASIC */

body {
    background-color: rgb(223, 242, 253);
    margin: 1em;
}


img {
    width: 100%;
}

.logo_huset {
    width: 50%;
    float: left;
}

.menu-item {
    background-color: rgb(223, 242, 253);
    color: rgb(36, 25, 93);
    padding: .5em;
    border: 2px solid rgb(36, 25, 93);
    margin: .2em;
    margin-top: 1.5em;
}

footer {
    margin-bottom: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(223, 242, 253);
}

h2 {
    text-align: center;
    color: rgb(223, 242, 253);
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin-top: 2.5em;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* FORSIDE */

.events {
    background-color: black;
    padding: 1em;
    margin-top: 3.5em;
    margin-bottom: 2em;
    border-radius: 1em;
}

.kontakt {
    background-color: black;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 3.5em;
    border-radius: 1em;
}

/* EVENTS */

article {
    background-color: rgb(36, 25, 93);
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 3em;
}

article h2 {
    color: white;
    font-size: 1em;
    line-height: 1.5em;
}

.box {
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.5em;
}

article img {
    border-radius: 1em;
}

.filter {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}


/* KONTAKT */

.kontaktside {
    margin: 1.5em;
}

.kontaktside a {
    color: black;
    text-decoration: underline;
}
